.background-img {
  height: 500px;
  background-image: url(https://images.pexels.com/photos/594452/pexels-photo-594452.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=250&w=540);
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}