.navbar {
  background-image: url("./logobanner.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 165px;
}

.navbar-nav {
  z-index: 10;
}

#top-left {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #38a5f2;
  height: 165px;
  width: 25%;
}

#top-right {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #38a5f2;
  height: 165px;
  width: 25%;
  z-index: 0;
}

.brandHeader {
  display: "inline";
  margin: "10px";
  color: "white";
  margin: 15px;
}

.brandHeader:hover {
  color: white;
  text-decoration: none;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  position: right;
  /* font-weight: bold; */
  font-size: larger;
}

/* something weird going on with this (Ask Joseph) */
.navbar-toggler {
  background-color: rgb(14, 99, 124) !important;
}

.navbar-custom {
  /* Darkest to lightest */
  /* BLUES */
  /* background-color: #03254c; */
  /* background-color: #1167b1; */
  /* background-color: #187bcd; */
  /* background-color: #2a9df4; */
  /* background-color: #d0efff; */
  /* PURPLES */
  /* background-color: #3c1361; */
  background-color: #4b2a53;
  /* background-color: #52307c; */
  /* background-color: #6e4468; */
  /* background-color: #663a82; */
  /* background-color: #7c5295; */
  /* background-color: #b491c8; */
  /* background-color: #bca0dc; */
}
